

.service{
background-color: rgba(183, 216, 205, 0.566);
}
.ico{
background-color:rgba(109, 23, 185, 0.527);
min-height:460px;
max-height:580px;
border-radius: 5px;
box-shadow: 2px 3px 10px 2px rgb(169, 115, 115);

}
.ico svg{
color:rgba(232, 55, 176, 0.705);
margin:5px

}
.ico h1{
color: rgba(105, 66, 213, 0.598);
font-size: 26px;
padding-bottom:8px ;
}
.ico p{
color: blanchedalmond;
 font-size: 16px;
 /* line-height: 30px; */
}
.title{

    color:#307473;
    font-family: Georgia, serif;
    letter-spacing: 2px;
    
    text-transform:capitalize
    }