.copy {
  position: relative;
}

.footer {
  color: white;
  background-color: rgb(54, 51, 51);

}

.gmail {
  background-color: rgba(46, 57, 52, 0.979);
  border: 3px solid rgb(118, 106, 106);
}

.git {
  background-color: rgba(46, 57, 52, 0.979);
  border: 3px solid rgb(100, 85, 85);
}

.tele {
  background-color: rgba(46, 57, 52, 0.979);
  border: 3px solid rgb(118, 106, 106);
}

.gmail:hover {
  background-color: rgb(198, 24, 38);
  border: 3px solid rgb(198, 24, 38);

}

.tele:hover {
  background-color: rgb(69, 223, 66);
  border: 3px solid rgb(69, 223, 66)
}

.git:hover {
  background-color: rgba(45, 107, 123, 0.847);
  border: 3px solid rgba(45, 107, 123, 0.546);
  color: black
}