

.forma input ,.forma textarea ,.forma input:focus,.forma textarea:focus {outline: none;box-shadow:none;border: none ;
     /* max-width:350px; */
    
    padding: 10px; 
    
background-color: rgba(229, 227, 223, 0.639);

}

/* .forma textarea{
    width:380px;
} */
.rows{
/* border-radius:30px;
/* box-shadow: 1px 1px 5px  2px rgb(105, 138, 128);; */ 
/* box-shadow: 2px 2px 5px  5px rgb(241, 247, 245); */
/* border-radius:10px;
border: 3px solid rgb(14, 12, 12); */
padding:10px;
border-radius:10px;


background-color: rgba(189, 151, 93, 0.267)
  /* width: 600px;  
display: flex; 
flex-direction: column;
justify-content: center;
align-items: center; */

}
.form-label{
margin-left: 10px;

}
.forma textarea{
border-radius: 5px;

}

.forma h1{
color: rgb(247, 237, 237);
/* text-shadow: 1px 1px 3px rgb(16, 13, 13); */
/* font-weight: 700; */
}
.forma label{
color:rgb(11, 11, 11);
/* text-shadow: 1px 1px 0px rgb(95, 114, 89); */
font-size: 18px;
font-weight: 350;


}
.bg{
background-color: rgba(68, 60, 55, 0.388);


}
.btn:hover{
background-color: rgb(58, 79, 66);
border: 1px solid rgb(58, 79, 66);
color:white

}