

.forma input ,.forma textarea ,.forma input:focus,.forma textarea:focus {outline: none;box-shadow:none;border: 2px solid rgb(97, 131, 129) ;

background-color: rgba(237, 246, 244, 0.904);
/* padding: 10px; */
}
.form-group {
max-width: 300px;
margin: 5px;
}
.forma textarea{
border-radius: 5px;


}

.forma h1{
color: rgb(105, 124, 98);
text-shadow: 1px 1px 3px rgb(16, 13, 13);
font-weight: 700;
}
.forma label{
color:rgb(77, 138, 77);
text-shadow: 1px 1px 0px rgb(95, 114, 89);
font-size: 18px;
font-weight: 350;


}
.bg{
background-color: rgb(147, 174, 174);


}
.btn:hover{
background-color: rgb(58, 79, 66);
border: 1px solid rgb(58, 79, 66);
color:white/* padding-right:10px; 
padding-left:10px solidpx;  */

}